In [1]:
# Import SQL Alchemy
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed
from sqlalchemy.orm import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Boolean

In [2]:
# Create the Travel class
class Travel(Base):
    __tablename__ = 'travel_destinations'
    id = Column(Integer, primary_key=True)
    city = Column(String(255))
    country = Column(String(255))
    distance = Column(Float)
    budget = Column(Float)
    visited = Column(Boolean)

In [3]:
# Create a connection to a SQLite database
engine = create_engine('sqlite:///travel.db')

In [4]:
# Create the travel_destinations table within the database
Base.metadata.create_all(engine)

In [5]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [6]:
# Create some instances of the Travel class
destination_one = Travel(city="Santa Fe", country="United States", distance=1134.3, budget=500, visited=False)
destination_two = Travel(city="Kyoto", country="Japan", distance=5341, budget=2000, visited=True)
destination_three = Travel(city="Accra", country="Ghana", distance=7670, budget=5000, visited=False)

In [7]:
# Add these objects to the session
session.add(destination_one)
session.add(destination_two)
session.add(destination_three)

# Commit the objects to the database
session.commit()

# print database
session.query(Travel.id, Travel.city, Travel.country, Travel.distance,
              Travel.budget, Travel.visited).all()

[(1, 'Santa Fe', 'United States', 1134.3, 500.0, False),
 (2, 'Kyoto', 'Japan', 5341.0, 2000.0, True),
 (3, 'Accra', 'Ghana', 7670.0, 5000.0, False)]

In [8]:
# Update two rows of data
update_one = session.query(Travel).filter(Travel.id == 1).first()
update_one.visited = True
update_two = session.query(Travel).filter(Travel.id == 2).first()
update_two.budget = 3000.25

# Commit the updates to the database
session.commit()

# print database
session.query(Travel.id, Travel.city, Travel.country, Travel.distance,
              Travel.budget, Travel.visited).all()

[(1, 'Santa Fe', 'United States', 1134.3, 500.0, True),
 (2, 'Kyoto', 'Japan', 5341.0, 3000.25, True),
 (3, 'Accra', 'Ghana', 7670.0, 5000.0, False)]

In [9]:
# Delete the row with the shortest distance
travel_short = session.query(Travel).order_by(Travel.distance).first()
session.delete(travel_short)

# Commit the delete to the database
session.commit()

# print database
session.query(Travel.id, Travel.city, Travel.country, Travel.distance,
              Travel.budget, Travel.visited).all()

[(2, 'Kyoto', 'Japan', 5341.0, 3000.25, True),
 (3, 'Accra', 'Ghana', 7670.0, 5000.0, False)]

In [10]:
# Close the session
session.close()

In [11]:
# BONUS
session = Session(bind=engine)

# Use a SQLAlchemy function to identify the item with the lowest id value, and change its budget to $2,500.
# Get the lowest id.
lowest_id = session.query(Travel).order_by(Travel.id).first()
print(lowest_id.id)

2

In [12]:
# Print the budget for the lowest id.
print(lowest_id.budget)

3000.25

In [13]:
# Set the budget for the lowest id to 2500.
lowest_id.budget = 2500
print(lowest_id.budget)

2500

In [14]:
# Commit the updates to the database
session.commit()

In [15]:
# Check that the budget has been updated.
session.query(Travel.id, Travel.city, Travel.country, Travel.distance,
              Travel.budget, Travel.visited).all()

[(2, 'Kyoto', 'Japan', 5341.0, 2500.0, True),
 (3, 'Accra', 'Ghana', 7670.0, 5000.0, False)]

In [16]:
session.close()